<%= form_with model: equipment, data: { turbo: false } do |f| %>
  <% if equipment.errors.any? %>
    <div class="alert">
      <p><strong>Please fix the following:</strong></p>
      <ul>
        <% equipment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <%= f.label :quantity %>
    <%= f.number_field :quantity, min: 0, required: true %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
