<p><strong>Selected date:</strong> <%= @booking_date %></p>

<div class="timetable-legend">
  <span class="timetable-chip timetable-slot-unavailable">Unavailable</span>
  <span class="timetable-chip timetable-slot-selected">Selected</span>
  <span class="timetable-chip timetable-slot-available">Available</span>
</div>

<table class="TimeTable" cellspacing="0" cellpadding="0" border="1">
  <thead>
    <tr>
      <td class="TimeTableTitleCell"><%= @booking_date.strftime('%d %b %Y') %></td>
      <td class="TimeTableTitleCellOneDayOneFacilityView"><%= booking.venue&.name || 'Select a venue' %></td>
    </tr>
  </thead>
  <tbody>
    <% @timetable_slots.each do |slot| %>
      <tr>
        <td class="TimeTableTitleCell">
          <span><%= slot[:start_at].strftime('%I:%M %p') %>- <%= slot[:end_at].strftime('%I:%M %p') %></span>
        </td>
        <td class="<%= booking_timetable_cell_class(slot) %>">
          <div class="<%= booking_timetable_slot_class(slot) %>" data-slot-start="<%= slot[:start_at].strftime('%Y-%m-%dT%H:%M') %>" data-slot-end="<%= slot[:end_at].strftime('%Y-%m-%dT%H:%M') %>">
            <%= slot[:label] %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
