<div class="timetable-legend">
  <span class="timetable-chip timetable-slot-unavailable">Unavailable</span>
  <span class="timetable-chip timetable-slot-selected">Selected</span>
  <span class="timetable-chip timetable-slot-available">Available</span>
</div>

<table class="TimeTable" cellspacing="0" cellpadding="0" border="1">
  <thead>
    <tr>
      <th scope="col" class="TimeTableTitleCell">Time Slot</th>
      <th scope="col" class="TimeTableTitleCellOneDayOneFacilityView">Availability</th>
    </tr>
  </thead>
  <tbody>
    <% @timetable_slots.each do |slot| %>
      <tr>
        <td class="TimeTableTitleCell timetable-time-cell">
          <span class="timetable-time-range"><%= slot[:start_at].strftime('%I:%M %p') %> - <%= slot[:end_at].strftime('%I:%M %p') %></span>
        </td>
        <td class="<%= booking_timetable_cell_class(slot) %> timetable-status-cell">
          <span class="<%= booking_timetable_slot_class(slot) %>">
            <%= booking_timetable_status_text(slot) %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
